<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4 th:if="${parents.size()>0}" th:text="'Parents: ' + ${parents.size()}"> </h4>
<h3 th:unless="${parents} and ${parents.size()}">There are no parents!</h3>
<table th:if="${parents.size()>0}" calss="table table-hover">
    <th>Id</th>
    <th>Name</th>
    <th>Last name</th>
    <th>Children</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Profile</th>
    <tr th:each="parent : ${parents}" >
        <td th:text="${parent.getId}"></td>
        <td th:text="${parent.getName}"></td>
        <td th:text="${parent.getLastName}"></td>
        <td th:text="${parent.getLastName}"></td>
        <td><a class="btn btn-info" th:href="@{'/parents/edit/'+ ${parent.getId} }">Edit</a></td>
        <td><a class="btn btn-danger" th:href="@{'/parents/delete/'+ ${parent.getId} }">Delete</a></td>
        <td><a class="btn btn-info" th:href="@{'/parents/'+ ${parent.getId} }">View</a></td>

    </tr>

</table>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>